/* background: linear-gradient(320deg, #feac5e, #c779d0, #4bc0c8); */

body {
  height: 100vh;
  font-family: "Lora", serif;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20rem;
  height: 4rem;
  padding: 0;
}

.navbar li {
  list-style: none;
}

.image {
  position: relative;
  display: block;
  z-index: 1;
}

.blur {
  position: absolute;
  backdrop-filter: blur(10px);
  height: 35vh;
  width: 35vh;
  z-index: 2;
  border-radius: 50%;
  top: 10%;
  left: 48%;
  right: 50%;
  transform: translate(-50%);
}

.blur:hover {
  display: none;
}

.over {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  padding: 1rem;
  text-align: justify;
  color: white;
  background: linear-gradient(320deg, #feac5e, #c779d0, #4bc0c8);
}

.over h2 {
  margin: 0 auto;
  font-size: 2rem;
}

.over p {
  margin-top: 1rem;
  line-height: 1.1rem;
}

.over span {
  font-weight: bolder;
  text-decoration: underline 3px;
}

.squares {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.square {
  transition: transform 500ms;
}

.square:hover {
  cursor: pointer;
  transform: rotate(-60deg);
  transition: 500ms;
}

.kennis {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.kennis label {
  font-size: 0.8rem;
}

.contact {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.contact h2 {
  height: auto;
  font-size: 3.5rem;
  line-height: 3rem;
  margin-bottom: 2rem;
  font-weight: 400;
}

.form {
  display: grid;
  width: 20rem;
}

.input {
  border: 1px solid black;
  height: 2rem;
}

.input::placeholder {
  color: grey;
  font-size: 0.7rem;
}

.input {
  font-size: 0.9rem;
}

.send-button {
  background-color: black;
  color: white;
  border: 0;
  height: 2rem;
  font-size: 0.9rem;
  margin-top: 2rem;
}

.footer {
  background-color: black;
  color: white;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
